
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Cedarville+Cursive&display=swap');

*{
    margin:0;
    padding:0;
}
nav{
    width:100%;
    height:60px;
    background-color: skyblue;
}
.nav_box{
    width:80%;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.my_shop{
    font-size: size 1.5rem;
    font-weight: bold;
    color:white;
    font-family: cursive;
    cursor: pointer;
}
.cart span:nth-child(1){
    font-size: 2rem;
    color:white
}
.cart span:nth-child(2){
    padding:0 3px;
    background-color:red;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top:-15px;
}
.card-link{
    text-decoration: none;
}
.storage{
    margin-right: 40px;
    margin-top: 20px;
}